<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--    <appender>:负责写日志的组件，有两个必要的属性：name和class-->
    <!--    name：指定appender名称，class指定appender的全限定名-->
    <!-- console appender 把日志输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%thread] [%logger] [%line] -- %msg%n</pattern>
        </encoder>
    </appender>

    <!--    滚动记录文件，先将日志记录到指定文件，当符合某个条件时，将日志记录到其他文件-->
    <!-- rolling file appender: log per day, and if a log file exceed maxFileSize, it will be split. -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.log.home}/${project.artifactId}.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%thread] [%logger] [%line] -- %msg%n</pattern>
        </encoder>
        <!--  当发生滚动时，决定RollingFileAppender的行为，涉及文件移动和重命名， 属性class定义具体的滚动策略类-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${app.log.home}/${project.artifactId}.%d{yyyyMMdd}.%i.log</fileNamePattern>
            <maxFileSize>128MB</maxFileSize>
            <!--  保留的归档文件的最大数量，超出数量就删除旧文件-->
            <maxHistory>30</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="file-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <file>${app.log.home}/${project.artifactId}.error.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%thread] [%logger] [%line] -- %msg%n</pattern>
        </encoder>
    </appender>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>${app.log.home}/${project.artifactId}.error.%d{yyyyMMdd}.%i.log</fileNamePattern>
        <maxFileSize>128MB</maxFileSize>
        <maxHistory>30</maxHistory>
        <totalSizeCap>5GB</totalSizeCap>
    </rollingPolicy>

    <!-- customized logger list -->
    <!-- 设置某一个包或具体的某一个类的日志打印级别-->
    <logger name="org.bdp.master" level="${app.log.level}"></logger>

    <!-- root logger -->
    <root level="info">
        <!--<appender-ref ref="console"/>-->
        <appender-ref ref="file"/>
        <appender-ref ref="file-error"/>
    </root>
</configuration>